.navbar {
    padding: 0 8vw;
}

.input-group {
    border: 1px solid #929090;
    background: #EFEFEF;
    border-radius: 12px;
    width: 365px;
    height: 52px;
    display: flex;
    align-items: center;

    .input-field {
        border: none;
        background: #EFEFEF;
        color: #737171;
    }
}

.nav-item {
    span {
        font-size: 14px;
    }
    &.active {
        border-bottom: 2px solid #1D1919;
        color: #1D1919;
        span {
            color: #1D1919;
            font-weight: 500;
        }
    }
}

.post-btn {
    background: linear-gradient(94.21deg, #252424 4.48%, #252424 4.49%, #424242 87.94%);
    color: #fff;
    font-size: 18px;
    border: none;
}

.header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    max-width: 420px;
    font-family: Arial, sans-serif;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 18px;
  }
  
  .title {
    font-weight: 600;
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }
  
  .actions i {
    font-size: 18px;
    cursor: pointer;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    font-size: 15px;
    color: #777;
    padding: 6px 0;
    cursor: pointer;
    position: relative;
  }
  
  .tab.active {
    font-weight: 600;
    color: #000;
  }
  
  .tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #000;
    border-radius: 2px;
  }

  @media screen and (max-width:800px) {
    .navbar {
        padding: 0 3vw;
    }
  }
  