.topics-container {
background: #D9F4F9;
}
.topics {
  background: #D9F4F9;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }


  .topic {
    height: 36px;
    border-radius: 16px;
    border: 1px solid #D0D0D0;
    color: #1B4A52;
    background: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
.heading {
  font-size: 16px;
  color: #444242;
  font-weight: 500;
}

.form-check-label {
  font-size: 14px;
  color: #444242;
}
@media screen and (max-width:600px) {
  .topics {
    height: 70px;
    overflow: auto;
    flex-direction: column;
  }
}