
h4 {
  font-size: 18px;
  color: #444242;
}

.btn {
  width: 82px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #1D1919;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  font-size: 16px;
}
