<app-header></app-header>
<section class="container px-md-5 pb-5">
  <app-webinar-section type="live" [webinarData]="liveWebinarData"></app-webinar-section>
  <app-webinar-section type="upcoming"  [webinarData]="upcomingWebinarData"></app-webinar-section>
  <app-resume-watching></app-resume-watching>
  <app-webinar-section type="cardiology"  [webinarData]="upcomingWebinarData"></app-webinar-section>
  <app-top-speakers></app-top-speakers>
  <app-browse-by-topics></app-browse-by-topics>
</section>
